
<header class="header">

<div id="menu-btn"> <a href="/"><img src="/images/logo.png" width="40" alt=""></a> </div>

 <a data-aos="zoom-in-left" data-aos-delay="150" href="/" class="logo">debbieyang mini collection</a>

   <nav class="navbar">
     <a>
       <form method="get">
        <div id="searchUsers" class="instant-search">
         <div class="instant-search__input-container">
          <input id="desktop-search-input" name="q" class="instant-search__input" type="text" spellcheck="false" placeholder="Search any product you want">
          <i class="material-icons instant-search__icon">search</i>
         </div>
        </div>
       </form>
      </a>

    </nav>


    <% if( !isProfileOwner ){ %>

      <% users.forEach(user => { %>
        <form action="" id="hiddensearch" class="search-bar">
     	   <input id="mobile-search-input" type="text" name="search" pattern=".*\S.*" required>
     	   <button class="search-btn">
     		   <span>Search</span>
     	   </button>
        </form>

        <a id="dark" href="/visit/<%= user._id %>"><i class="fa fa-2x fa-user" aria-hidden="true"></i> </a>
        <button id="dark" onclick="myFunction()"><i class="fa fa-2x fa-adjust" aria-hidden="true"></i></button>
        <a href="/login" class="login-btn">login</a>
       <% }) %>

    <% } else { %>

      <% users.forEach(user => { %>
        <button id="dark" onclick="myFunction()"><i class="fa fa-2x fa-adjust" aria-hidden="true"></i></button>
        <a href="/visit/<%= user._id %>" class="login-btn"><%= user.fname %> </a>
        <a href="/logout" class="login-btn">Logout</a></li>
       <% }) %>

    <% } %>

</header>

<div id="results" class="search-results"></div>
