<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <h3> debbieyang mini collection </h3>
            <p>i am a well organized, self-driven, hard working and commited individual. i enjoy working with difference
             kind of people, Hire me for your project and you will not regrect.</p>
            <div class="share">
                <a href="https://ne-np.facebook.com/awan.mabur/" class="fab fa-facebook-f"></a>
                <a href="https://twitter.com/AwanMabur/status/" class="fab fa-twitter"></a>
                <a href="https://www.instagram.com/awanmabur/" class="fab fa-instagram"></a>
                <a href="https://www.google.com/url?sa=t&source=web&rct=j&url=https://ug.linkedin.com/in/simon-awan-mabur-a22119202&ved=2ahUKEwjJ4NXE2vjvAhUEgP0HHSAtDQ8Qjjh6BAgDEAE&usg=AOvVaw0Mu3xYVeGjnyild5BBvDSY" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
            <h3>quick links</h3>
            <a href="/" class="links"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="/about" class="links"> <i class="fas fa-arrow-right"></i> about </a>
            <a href="/privacy policy" class="links"> <i class="fas fa-arrow-right"></i> privacy policy </a>
            <a href="/terms" class="links"> <i class="fas fa-arrow-right"></i> terms </a>
            <!-- <a href="/blogs" class="links"> <i class="fas fa-arrow-right"></i> blogs </a> -->
            <a href="/contact" class="links"> <i class="fas fa-arrow-right"></i> Contact </a>
        </div>


        <div class="box" data-aos="fade-up" data-aos-delay="450">
            <h3>contact info</h3>
            <p> <i class="fas fa-map"></i> Bortown, south sudan </p>
            <p> <i class="fas fa-phone"></i> +211-92890-1760 </p>
            <p> <i class="fas fa-envelope"></i> awanmabur212@gmail.com </p>
            <p> <i class="fas fa-clock"></i> 7:00am - 10:00pm </p>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="600">
            <h3>newsletter</h3>
            <p>subscribe for latest updates</p>
            <form action="">
                <input type="email" name="" placeholder="enter your email" class="email" id="">
                <input type="submit" value="subscribe" class="btn">
            </form>
        </div>

    </div>

</section>

<div class="credit">
   Copyright &copy; <span id="copyright-year"></span> <span>debbieyang mini collection</span>
</div>

<div class="goto-top2">
  <p id="goto-topJS" title="Go to top"><img src="images/arr.png" alt=""></p>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

  <script src=".././js/script.js" defer></script>

  <script src=".././js/account.js" defer></script>

  <script>

      AOS.init({
          duration: 800,
          offset:150,
      });

  </script>

  </body>
  </html>
<!-- footer section end  -->
