<html lang="en">
<head>
  <title>debbieyang mini collection</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This is Simon Awan Mabur's Professional portifolio website">
  <meta name="author" content="simon Awan Mabur, Awan Mabur, simon Awan Mabur kuol ">
  <meta name="keywords" content="senior, junior, mobile app developer, Computer expert, Ict Consultant, friendly live Support, uganda, south, sudan, kenya, smart, work, technic, help, good, clean, no cheating, trust, graphic designer, Ethical hacker, Ict Instructor, web designer, web Developer">
  <meta http-equiv="refresh" content="1800">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <!-- font awesome cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- custom css file link  -->
  <link rel="stylesheet" href=".././css/style.css">

  <!-- custom css file link  -->
  <link rel="stylesheet" href=".././css/styles.css">

  <link rel="stylesheet" href=".././css/account-page.css">

  <link rel="stylesheet" href=".././css/account.css">

  <!-- Aos file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

</head>
