
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page</title>
	<link rel="stylesheet" href="/css/styles.css">
 </head>

<body>
<%-include("../partials/flash") %>
	<div id="wrapper">
    <div id="table">
			<h3>Please enter your new password below 👇</h3>
		</div>
		<div id="signin">
			<form action="/resetpassword" method="POST" >
        <input type="hidden" name="token" value="<%= token %>">
        <div class="form-group">
					<label for="pass">New Password</label>
					<input type="password" name="password" id="pass" required>
					<span id="showpwd" class="fa fa-eye-slash"></span>
				</div>
				<div class="form-group">
					<label for="pass">Comfirm Password</label>
					<input type="password" name="confirmPassword" id="pass" required>
					<span id="showpwd2" class="fa fa-eye-slash"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Reset Password">
				</div>
			</form>
    </div>

	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script >
  $(document).ready(function () {
	$("#showpwd").on("click", function () {
		$(this).toggleClass("fa-eye fa-eye-slash");
		$($(this).siblings()[1]).attr("type", function (index, attr) {
			return attr == "password" ? "text" : "password"
		});
	});
})

$(document).ready(function () {
$("#showpwd2").on("click", function () {
  $(this).toggleClass("fa-eye fa-eye-slash");
  $($(this).siblings()[1]).attr("type", function (index, attr) {
    return attr == "password" ? "text" : "password"
  });
});
})

  </script>
</body>

</html>
